/********* Styling for Index & About Pages *********/




/********* Body & Global Styles *********/

* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";    
  display: block;    
  clear: both; 
}

body {
  background-color:whitesmoke;
  font-family: 'Montserrat', sans-serif;
}



/********* Header & Navbar *********/

.header-nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:lightgray;
  height: 6.5vmin;
}

.header-nav li a {
  display: block;
  color:slategray;
  text-align:center;
  margin: 1.5em;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.header-nav li a:hover {
  color:whitesmoke;
}

.link-lorem {
  float: left;
}
 
/*
.link-projects {
  clear: both;
}
*/

.link-projects, .link-about, .link-home {
  float: right;
}


.container {
  position: relative;  
} 

.centered h1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 3em;
  letter-spacing: 0.5em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container img {
  -webkit-animation: filter-animation 5s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: grayscale(0);
  }
  
  50% {
    -webkit-filter: grayscale(1);
  }
  
  100% {
    -webkit-filter: grayscale(0);
  }
}




/********* Article Styles *********/

.main-text {
  width: 100%;
}

.main-text p {
  margin-top: 3em;
  font-family: 'Neuton', serif;
  color:lightslategray;
  font-size: 1.05em;
  line-height: 125%;
  padding: 0 8em;
  text-align: center;
}



h2 {
  color:gray;
  padding-top: 40px;
}

a {
  color:cadetblue;
  
}

a:hover {
    color: pink;
}
/*

p {
  font-family: 'Neuton', serif;
  color:lightslategray;
  padding: 8px 20px 20px
}
*/




/********* Footer Styles *********/

footer {
    background-color:lightgray;
    height: 6.5vmin;
    width: 100%;
    margin: 0 auto;
    position: relative;
    }

footer .follow {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 1.25em;
/*  display: in-line-block;*/
}

.follow a {
  display: in-line-block;
  margin-right: 1em;
}