/********* Styling for Index & About Pages *********/




/********* Body & Global Styles *********/

* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";    
  display: block;    
  clear: both; 
}

body {
  background-color:whitesmoke;
  font-family: 'Montserrat', sans-serif;
}



/********* Header & Navbar *********/

/*

header h1 {
  font-family: 'Montserrat', sans-serif;
  color:gray;
}
*/


.header-nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:lightgray;
}


.header-nav li a {
  display: block;
  color:slategray;
  text-align:center;
  padding: 18px 20px;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.header-nav li a:hover {
  color:whitesmoke;
}


.link-lorem {
  float: left;
}
 




/*
.link-projects {
  clear: both;
}
*/

.link-projects, .link-about, .link-home {
  float: right;
}



.container {
  position: relative;
} 

.container img {
 
}

.centered h1 {
  z-index: 100;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  letter-spacing: 0.5em;
  font-size: 3em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



img {
  -webkit-animation: filter-animation 5s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: grayscale(0);
  }
  
  50% {
    -webkit-filter: grayscale(1);
  }
  
  100% {
    -webkit-filter: grayscale(0);
  }
}




/********* Article Styles *********/

h2 {
  color:gray;
  padding-top: 40px;
}

a {
  color:cadetblue;
  
}

a:hover {
    color: pink;
}

p {
  font-family: 'Neuton', serif;
  color:lightslategray;
  padding: 8px 20px 20px
}



/********* Aside Styles *********/

aside {
  background-color: lightgray;
  border: 2px solid lightslategray;
}

aside h3 {
  font-family: 'Neuton', serif;
  color:gray;
  padding: 2px 10px 2px
}

aside p {
  color: slategray;
  padding: 2px 10px 2px
}



/********* Footer Styles *********/

footer {
    margin-left: 2px
    background-color:lightgray;
    }